.row {
    margin-left: 20px;
}
  
.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 400px;
    transition: transform 450ms;
    margin-right: 10px;
}
  
.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;

}

.row_posters::-webkit-scrollbar {
    display: none;
} 
  
.row_poster:hover {
    transform: scale(1.08);
} 


  
.row_title {
    margin-left: 20px; 
}

section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.title-section {
    font-weight: 700;
}

.item {
    padding: 1rem 2px;
    transition: 550ms all;
}

.item:hover {
    border: white;
    border-style: solid;
    border-radius: 25px;
}

img {
    max-height: 200px;
    object-fit: contain;
    width: 100%;
}
.movie_image {
    width: 400px;
}
        
.item:hover { 
    margin: 0 10px;
    transform: scale(1.02);
}
.movie_subinfo {
    display: none;
    color: red;
    text-align: center;
}
.item:hover .movie_subinfo{
    display:block;
}


    



